body {
    margin: 0;
    background: #FCFCFC;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 0.875rem;
}

* {
    box-sizing: border-box;
}

#root {
    width: 100%;
    height: 100vh;
    overflow-y: auto;
}