.commentContainer {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    margin-bottom: 10px;
}

.expandBtn {
    height: auto;
    border: 0;
    padding: 0;
    cursor: pointer;
    background: none;
    color: rgb(68, 68, 255);
    height: 1rem;
    font-weight: bold;
}


.childCommentList {
    margin-left: 10px;
}
