@import "Layout.variables";

.container {
    height: 100vh;
    overflow-y: auto;
}

.content {
    margin-top: 1rem;

    @media (min-device-width: 480px) {
        padding: 0 10%;
    }

    @media (min-device-width: 768px) {
        padding: 0 20%;
    }
}
